.headtitle{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
.center {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5px;
}
.tblbox{
  margin-top: 15px;
  margin-right: 2px;
  margin-left: 2px;
}
.tblbox2{
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
}
.tblbtn{
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
}
.tblhead{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 2px;
  margin-left: 2px;
}
.fontstyle{
  font-size: 14px;
}
