#menu{
    padding:0;
    margin:0;
    position:relative;
}
#menu ul{
    padding:0;
    margin:0;
    list-style:none;
    float:left;
}
#menu ul li{
    padding:0;
    margin:0 5px 0 0;
    display:block;
    float:left;
	
    height:24px;
    padding:0 0 0 10px;
    margin:0 5px 0 0;
    display:block;
    float:left;
    background:url(image/submenu-l.gif) no-repeat left;
}
#menu ul li a{
    width:auto;
    height:auto;
    padding:0px 10px;
    margin:0;
    float:left;
    font:bold 13px/15px Tahoma, Verdana, sans-serif;
    color:#000;
    text-align:center;
    text-decoration:none;

  width:auto;
    height:auto;
    padding:0px 21px 0 10px;
    margin:0;
    float:left;
    font:bold 13px/24px Tahoma, Verdana, sans-serif;
    color:#7A6B44;
    text-align:center;
    text-decoration:none;
    background:url(image/submenu-r.gif) no-repeat right;
}
#menu ul li a:hover{
    text-decoration:underline;
}
#menu ul li.current{
   

 margin:0 5px 0 0;
    display:block;
    float:left;
    font:bold 13px/24px Tahoma, Verdana, sans-serif;
    color:#fff;
    background:url(image/submenu-active-l.gif) no-repeat left;
}

#menu ul li.current span{
    padding:0px 21px 0 10px;
    margin:0;
    display:block;
    float:left;
    background:url(image/submenu-active-r.gif) no-repeat right;
}